<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<!-- ============================================================ -->
	<!-- CONNECTION STRINGS                                           -->
	<!-- ============================================================ -->
	<connectionStrings>
		<add name="AQOONHUB_DB"
			 connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AQOONHUB_DB;Integrated Security=True;MultipleActiveResultSets=True;Connect Timeout=30"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<!-- ============================================================ -->
	<!-- APP SETTINGS                                                 -->
	<!-- ============================================================ -->
	<appSettings>
		<add key="SmtpHost" value=""/>
		<add key="SmtpPort" value=""/>
		<add key="SmtpUsername" value=""/>
		<add key="SmtpPassword" value=""/>
		<add key="SmtpEnableSsl" value=""/>
		<add key="SmtpFromEmail" value=""/>
		<add key="SmtpFromDisplayName" value=""/>
	</appSettings>

	<!-- ============================================================ -->
	<!-- SYSTEM.WEB - ASP.NET Forms Authentication & Authorization    -->
	<!-- ============================================================ -->
	<system.web>

		<!-- Compilation -->
		<compilation debug="true" targetFramework="4.8"/>
		<httpRuntime targetFramework="4.8"/>

		<!-- Forms Authentication -->
		<authentication mode="Forms">
			<forms name=".AQOONHUB_AUTH"
				   loginUrl="~/Modules/Authentication/Login.aspx"
				   defaultUrl="~/Modules/Dashboard/Dashboard.aspx"
				   timeout="30"
				   slidingExpiration="true"
				   cookieless="UseCookies"
				   protection="All"
				   requireSSL="false"
				   path="/"/>
		</authentication>

		<!-- Authorization: Deny anonymous users globally -->
		<authorization>
			<deny users="?"/>
			<allow users="*"/>
		</authorization>

		<!-- Session State -->
		<sessionState mode="InProc" timeout="30" cookieless="UseCookies"/>

		<!-- Globalization -->
		<globalization culture="auto" uiCulture="auto"/>

		<!-- Pages -->
		<pages masterPageFile="~/MasterPages/MainMaster.master">
			<namespaces>
				<add namespace="AQOONHUB_SMS.App_Code.Models"/>
				<add namespace="AQOONHUB_SMS.App_Code.DataAccess"/>
				<add namespace="AQOONHUB_SMS.App_Code.BusinessLogic"/>
				<add namespace="AQOONHUB_SMS.App_Code.Utilities"/>
			</namespaces>
		</pages>

		<!-- Custom Errors -->
		<customErrors mode="Off"/>

	</system.web>

	<!-- ============================================================ -->
	<!-- LOCATION TAGS - Anonymous Access Exceptions                    -->
	<!-- ============================================================ -->

	<!-- Login page (With extension): allow anonymous -->
	<location path="Modules/Authentication/Login.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

	<!-- Login page (Without extension / FriendlyUrl): allow anonymous -->
	<location path="Modules/Authentication/Login">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

	<!-- Static resources: allow anonymous -->
	<location path="assets">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Content">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Scripts">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="fonts">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

	<!-- ============================================================ -->
	<!-- SYSTEM.WEBSERVER - IIS Express / IIS 7+ Integrated Mode      -->
	<!-- ============================================================ -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>

		<modules runAllManagedModulesForAllRequests="true"/>

		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
			<remove name="OPTIONSVerbHandler"/>
			<remove name="TRACEVerbHandler"/>
			<add name="ExtensionlessUrlHandler-Integrated-4.0"
				 path="*."
				 verb="*"
				 type="System.Web.Handlers.TransferRequestHandler"
				 preCondition="integratedMode,runtimeVersionv4.0"/>
		</handlers>
	</system.webServer>

	<!-- ============================================================ -->
	<!-- RUNTIME - Assembly Binding Redirects                         -->
	<!-- ============================================================ -->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

			<dependentAssembly>
				<assemblyIdentity
				  name="Newtonsoft.Json"
				  culture="neutral"
				  publicKeyToken="30ad4fe6b2a6aeed"/>
				<bindingRedirect
				  oldVersion="0.0.0.0-12.0.0.0"
				  newVersion="12.0.0.0"/>
			</dependentAssembly>

			<dependentAssembly>
				<assemblyIdentity
				  name="WebGrease"
				  culture="neutral"
				  publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect
				  oldVersion="0.0.0.0-1.6.5135.21930"
				  newVersion="1.6.5135.21930"/>
			</dependentAssembly>

			<dependentAssembly>
				<assemblyIdentity
				  name="Antlr3.Runtime"
				  culture="neutral"
				  publicKeyToken="eb42632606e9261f"/>
				<bindingRedirect
				  oldVersion="0.0.0.0-3.5.0.2"
				  newVersion="3.5.0.2"/>
			</dependentAssembly>

		</assemblyBinding>
	</runtime>

</configuration>